<div class="style-guide-sidebar style-guide-fixed">
  <% section.partials(self).each do |partial| %>
  <div class="style-guide-sidebar-partial">
    <a href="#<%= partial.id %>">
      <i>&rsaquo;</i>
      <span><%= partial.title %></span>
    </a>
  </div>
  <% end %>
  <div class="style-guide-sidebar-toggler">
    <a href="#" data-open="«" data-closed="»"></a>
  </div>
</div>
