<div class="style-guide-sidebar style-guide-fixed">
  <% section.partials(self).each do |partial| %>
  <div class="style-guide-sidebar-partial">
    <a href="#<%= partial.id %>">
      <i>&rsaquo;</i>
      <%= partial.title %>
    </a>
  </div>
  <% end %>
</div>
