<div class="style-guide-content">
  <% if @section.partials? %>
    <%= render :partial => "sidebar", :locals => {:section => @section} %>

    <div class="style-guide-partials">
      <% @section.partials(self).each do |partial| %>
        <%= render :partial => "partial", :locals => {:partial => partial} %>
      <% end %>
    </div>
  <% else %>

    <p> No partials found </p>

  <% end %>
</div>
