* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.style-guide {
  padding: 0;
}

.style-guide-content {
  width: 100%;
  margin: 0 auto;
}

.style-guide-sidebar.closed,
.style-guide-sidebar.style-guide-fixed.closed {
  width: 43px;
  overflow: hidden;
}
.style-guide-sidebar.closed span {
  overflow: hidden;
  visibility: hidden;
  width:43px;
}
.style-guide-partials.large {
  width: auto;
  float: none;
}

@media (min-width: 720px) {
  .style-guide-partials.large {
    margin-left: 60px;
  }
  .style-guide-content {
    position: relative;
   }

  .style-guide-sidebar {
    width: 20%;
  }

  .style-guide-sidebar {
    position: absolute;
  }

  .style-guide-sidebar.style-guide-fixed {
    position: fixed;
    top: 80px;
    width: 144px;
  }

  .style-guide-partials {
    width: 79%;
    margin-left: 21%;
    float: left;
  }
}

@media (min-width: 840px) {
  .style-guide-partials.large {
    margin-left: 60px;
  }
  .style-guide-sidebar {
    width: 25%;
  }

  .style-guide-partials {
    width: 74%;
    margin-left: 26%;
    float: left;
  }

  .style-guide-sidebar.style-guide-fixed {
    width: 210px;
  }
}

@media (min-width: 960px) {
  .style-guide-partials.large {
    margin-left: 60px;
  }

  .style-guide-content {
    width: 960px;
  }

  .style-guide-sidebar {
    width: 30%;
  }

  .style-guide-partials {
    width: 69%;
    margin-left: 31%;
    float: left;
  }

  .style-guide-sidebar.style-guide-fixed {
    width: 288px;
  }
}
